{% extends 'base.html.twig' %}
{% block title %}Confidentialité{% endblock %}
{% block hero %}<section class="hero"><div class="container"><h1 class="reveal">Politique de confidentialité</h1></div></section>{% endblock %}
{% block body %}
<div class="card reveal"><div class="card-body">
  <p class="help">Ici ton contenu légal.</p>
</div></div>
{% endblock %}
