{% extends 'base.html.twig' %}
{% block title %}Nouvel animal{% endblock %}
{% block hero %}
<section class="hero"><div class="container"><h1 class="reveal">Ajouter un animal</h1></div></section>
{% endblock %}
{% block body %}
<div class="card reveal"><div class="card-body">{% include 'admin/animal/_form.html.twig' %}</div></div>
{% endblock %}
